/*/*.sln


CMakeFiles/
TabulaRasa.dir/
/*/Saved/**
Debug/

!.gitignore
!glew32.dll
!SDL2.dll
!TabulaRasa/Debug/

Win32/

CMakeCache.txt

*.idb
*.a
*.exe
*.bz2
*.psd
*.gif
*.zip
*.tga
*.dylib
*.gz
*.so
*.jar
*.mp4
*.pak
*.pdb
*.vcxproj
*.filters
*.cmake

# Ignore local user Visual Studio files in any folder
*.suo
*.opensdf
*.sdf

!assimp.exe
!assimp_view.exe
!Assimp32.dll
!D3DCompiler_42.dll
!D3DX9_42.dll
!glew32.dll
!SDL2.dll

TabulaRasa/Binaries/**
TabaluRasa/TabaluRasa.VC.opendb
*.ilk
*.ilk
TabulaRasa/Debug/TabulaRasa.ilk
*.opendb
*.ilk
*.psess
*.vspx
*.etl
*.exp
TabulaRasa/Debug/TabulaRasa.ilk
TabulaRasa/Debug/TabulaRasa.lib
TabulaRasa/TabulaRasa.VC.db
TabulaRasa/imgui.ini