/*/*.sln


CMakeFiles/
TabulaRasa.dir/
/*/Saved/**
Debug/

!.gitignore
!glew32.dll
!SDL2.dll
!TabulaRasa/Debug/

Win32/

CMakeCache.txt

*.lib
*.idb
*.a
*.exe
*.png
*.bz2
*.psd
*.gif
*.zip
*.tga
*.dylib
*.gz
*.so
*.jar
*.mp4
*.pak
*.bmp
*.obj
*.pdb
*.vcxproj
*.filters
*.cmake

# Ignore local user Visual Studio files in any folder
*.suo
*.opensdf
*.sdf

TabulaRasa/Binaries/**
TabaluRasa/TabaluRasa.VC.opendb
*.ilk
*.ilk
TabulaRasa/Debug/TabulaRasa.ilk
*.opendb
*.ilk
*.psess
*.vspx
*.etl